.tm_social {
    width: 50px;
    height: 50px;
}

body,
html {
    height: 100%;
}

.dis-link{
    text-decoration: none;
}

.bg-viagem {
    /* The image used */
    background-image: url(../images/viagem/IMG_1833.JPEG);
    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-games {
    /* The image used */
    background-image: url(../images/Capa_Snow.jpg);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-games2 {
    /* The image used */
    background-image: url(../images/campeao.jpg);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mask-white {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
}

.mask-black-70 {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
}

.mask-black-50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.mask-white-rodape {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.600);
}

.card-hover:hover {
    zoom: 99.99%;
    background-color: rgba(255, 255, 255, 0.9);
}
